/* Carolyn Doan 10122518 Lab B03*/

body{
  background-image: url(bg.png);
}

#title{
  display:flex;
  text-align: center;
  font-size: 100%;
  color:white;
  background:#333;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

a{
  text-decoration: none;
  vertical-align: middle;
}

.index{
  vertical-align: middle;
  max-width: 50%
}

.whole{
  overflow-y: hidden;
}
.column {
    float: left;
    width: 25%;
    display:table;
    height: 100%;
    vertical-align: middle;
}

#puppybutton, #swanbutton {
  display: flex;
  width:100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  background: #9b9b9b;
  background: rgba(155, 155, 155, 0.5);
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  overflow:hidden;
  outline:none;
  color:white;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
  padding: 0px;
  vertical-align: middle;
  overflow-x: hidden;
}

#boatbutton, #morebutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100%;
  text-align: center;
  text-decoration: none;
  background: #9b9b9b;
  background: rgba(228, 227, 229, 0.5);
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  color:white;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  vertical-align: middle;
  overflow-x: hidden;
}

#puppybutton:hover, #puppybutton:focus, #puppybutton:active,
#swanbutton:hover, #swanbutton:focus, #swanbutton:active,
#boatbutton:hover, #boatbutton:focus, #boatbutton:active,
#morebutton:hover, #morebutton:focus, #morebutton:active
{
  background: #343160;
  background: rgba(52, 49, 96, 0.7);
  transition: all 0.4s ease-in;
  vertical-align: middle;
  overflow-x: hidden;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #e4e3e5;
  color: black;
}

.topnav a.active {
  background-color: #C286B4;
  color: white;
}

.content{
  position: relative;
  display: block;
  background-color: #82A3BB;
  width: 80%;
  left: 10%;
  top: -20px;
}

h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
}

h3 {
  margin: 0 0 30px;
  font-size: 1.8em;
}

h4 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
}

.container {
  margin: 0 60px;
  padding: 100px 0;
  border-top: 2px solid gainsboro;
}

.container-flex-main {
  background: rgba(0,0,0,0.3);
}

.container-flex {
  display: flex;
  padding-bottom: 10px;
  padding:10px;
}

.container-flex:nth-child(odd){
  background-color: #246E80;
}
.container p {
}

.info-container {
  margin: 0 30px;
  width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size:1.2em;
    flex-wrap: wrap;
    padding:10px;
}

.flex-img {
  width: 50%;
}

.flex-img img {
  width: 100%;
}

@media screen and (max-width: 1000px) {

  .container-flex {
    flex-direction: column;
  }

  .info-container {
    width: 100%;
  }

  .flex-img {
    width: 100%;
  }
}

button {
  background-color: #333;
  padding:5px;
  font-family: 'Open Sans', sans-serif;
  font size: 1.2em;
  width:100%;
  color:white;
  border: 1px solid #fff;
}

button:hover{
  background-color: #C286B4;
  background-color: rgb(194, 134, 180, 0.5);
}

table{
  font-family: 'Open Sans', sans-serif;
  font size: 1.5em;
  position: relative;
  width: 80%;
  left: 10%;
  top:20px;
  align-items: center;
  text-align: center;
}

table img {
 width: 50%;
 align-items: center;
}
table tr:nth-child(even) {
    background-color: #C286B4;
}
table tr:nth-child(odd) {
  background: rgba(0,0,0,0.3);
}
table th {
    background-color: #333;
    color: white;
}

footer {
  color:white;
  text-align: center;
}
