
body{
/*  background-color: #DB73FE; */
  background-image: url(background.png);
  margin: 0;
  overflow:hidden;
  font-family:sans-serif;
}

#title{
  text-align: center;
}

#title :hover{
  border-color: black;
}


* {
    box-sizing: border-box;
    font-family:cursive;
}

a{
  text-decoration: none;
}

img
{
  max-width: 25%
}
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 90%;
}

#col1{
  background-image:url(puppy.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  text-align: center;
}

#col2{
  background-image:url(boat.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  text-align: center;
}

#col3{
  background-image:url(swan.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  text-align: center;
}
#col4{
  background-image:url(flower.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position: center;
  text-align: center;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
