body{
  background-color: #DB73FE;
}

#title{
  text-align: center;
}

#title :hover{
  border-color: black;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;

}
a{
  text-decoration: none;
}



.column :hover {
  background: black;
  opacity: 0.5;

}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 1000px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
