* {
    font: 50px;
}

body {
    background: linear-gradient(120deg, #000, #2d98c6);
}

form {
    padding: 3px;
    bottom: 0;
    width: 100%;
    height: auto;
}

#m {
    width: 96%;
    padding: 30px;
    overflow: hidden;
}

form input #m {
    margin-right: .5%;
    border: solid;
}

form button {
    border: none;
    float: right;
    padding: 0px;
    text-align: center;
    width: 5%;
    height: 85%;
    position: absolute;
}

form button:hover {
    background-color: lightblue;
}

.container {
    height: 80%;
}

.chatbox {}

.col-md-12 {
    height: 100;
    padding: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

#row1 {
    height: 90%;
}

h1 {
    text-align: center;
}

#currentusers {
    background: rgba(255, 255, 255, 0.1);
    height: 100%;
    padding: 2px;
    float: right;
    text-align: center;
}

#messages {
    list-style-type: none;
    margin: 0;
    background: rgba(255, 255, 255, 0.05);
    width: 97%;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    max-height: 100%;
    overflow-wrap: break-word;
}

li {
    margin: 0 auto 10px 0;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    overflow-wrap: break-word;
}

li#you {
    max-width: 350px;
    min-height: 50px;
    font-weight: bold;
}

li#you:after {
    content: " ";
    display: inline-block;
    position: absolute;
    left: -8.5px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
}

li#you:before {
    content: " ";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid black;
}

li#other:after {
    content: " ";
    display: inline-block;
    position: absolute;
    right: -8px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #dbedfe;
}

li#other:before {
    content: " ";
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid black;
}

li#other {
    float: right;
    display: inline-block;
    max-width: 350px;
    min-width: 350px;
    min-height: 50px;
    background-color: rgba(57, 230, 255, 0.25);
}

li {
    clear: both;
}

.clear {
    clear: both;
}
